@{
    ViewData["Title"] = "About Us";
}

<!-- Breadcrumb -->
<div class="breadcrumb-bar-two">
    <div class="container">
        <div class="row align-items-center inner-banner">
            <div class="col-md-12 col-12 text-center">
                <h2 class="breadcrumb-title">About Us</h2>
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                        <li class="breadcrumb-item" aria-current="page">About Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- About Company -->
<section class="about-section px-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-img-info">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="about-inner-img">
                                <div class="about-img">
                                    <img src="~/assets/img/about-images/Image-1.png" class="img-fluid" alt="about-image">
                                </div>
                                <div class="about-img">
                                    <img src="~/assets/img/about-images/Image-3.jpg" class="img-fluid" alt="about-image">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-inner-img">
                                <div class="about-box" style="background-color:#06A5A0 !important">
                                    <h4>Over 7+ Years Experience</h4>
                                </div>
                                <div class="about-img">
                                    <img src="~/assets/img/about-images/Image-2.jpeg" class="img-fluid" alt="about-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="section-inner-header about-inner-header">
                    <h6 style="color:#06A5A0 !important">About Us</h6>
                    <h3>The best education platform for pass paediatrics clinical skills exam</h3>
                </div>
                <div class="about-content">
                    <div class="about-content-details">
                        <p>
                            Passmrcpch is an online education platform that aims to help medical 
                            students and doctors successfully pass their 
                            paediatrics clinical skills exam.
                        </p>

                        <p>
                            We offer individual coaching sessions with experienced and knowledgeable
                            tutors who will guide you through each step of the exam preparation process.
                        </p>

                        <p>
                            Our coaching sessions are tailored to your specific needs,
                            ensuring that you focus on the areas where you need the most improvement.
                        </p>

                        <p>
                            With Passmrcpch, you can be confident in your abilities and secure a clear pass in your first attempt. 
                            We are committed to helping you achieve your goals and excel in your paediatrics clinical skills exam.
                        </p>
                    </div>
                </div>
               
                <div class="section-inner-header about-inner-header mt-2">
                    <h4 style="color:#06A5A0 !important">Our Story</h4>
                    <p class="mt-4">
                        Passmrcpch has been a leading provider of online paediatrics education since 2016. 
                        Our team of experienced paediatricians and educators recognized the need for a comprehensive 
                        and personalized approach to preparing for the MRCPCH clinical exam. We have since helped 
                        hundreds of students successfully pass their exam on the first attempt. Our coaching sessions 
                        are tailored to each individual student's needs, ensuring they have a clear understanding of 
                        the exam structure, assessment criteria, and clinical skills required. With our proven track 
                        record of success, 
                        Passmrcpch continues to be a trusted and reliable source for mastering paediatrics clinical skills.
                    </p>
                </div>                
            </div>
        </div>
       
    </div>
</section>
<!-- /About Company -->

<style>

    #IndexNavId a {
        color: #4D555F !important;
    }

    #AboutUsNavId a {
        color: #06A5A0 !important;
        text-decoration: underline;
        text-underline-offset: 8px;
    }

    #ServicesNavId a {
        color: #4D555F !important;
    }

    #CoursesNavId a {
        color: #4D555F !important;
    }

    #ArticlesNavId a {
        color: #4D555F !important;
    }

    #StudyMaterialsNavId a {
        color: #4D555F !important;
    }

    #ContactNavId a {
        color: #4D555F !important;
    }

</style>